<!DOCTYPE html>
<html>
	<head>
		<title>task2</title>
		<link href="index.css" rel="stylesheet"></link>
	</head>
	<body>
		<div id="app">
			<div class="flex-container">
				<h1>事件清单</h1>
				<input 
				type="text" 
				class="input-box"
				v-model="msg" 
				v-on:keyup.enter="add">
				<ul>
					<li 
					v-bind:class="{done: item.isOK, 'list-hover': item.isHover}" 
					v-for="(item,index) in things" 
					@click="done(index)" 
					@mouseover="toggleShow(index)" 
					@mouseout="toggleShow(index)" 
					v-text="item.text">
					</li>
				</ul>
			</div>
		</div>
	</body>
	<script src="node_modules/vue/dist/vue.js"></script>
	<script src="index.js"></script>
</html>